<div class="welcome-container">

	<div class="welcome-column">

		<div class="chart-container chart-box chart-box-small">
			<app-chart-report-status class="chart-host"></app-chart-report-status>
		</div>

		<div class="chart-container chart-box chart-box-large">
			<app-chart-daily-hours class="chart-host"></app-chart-daily-hours>
		</div>

	</div>

	<div class="welcome-column">

		<div class="chart-container chart-box chart-box-small">
			<app-chart-job-hours class="chart-host"></app-chart-job-hours>
		</div>

		<div class="chart-container chart-box chart-box-large">
			<app-chart-montly-hours class="chart-host"></app-chart-montly-hours>
		</div>

	</div>

</div>