/*##########################################################################*/
/* CAMBIARE SOLO DEBUG, LE DIMENSIONI DI HEADER, FOOTER o BORDER (la parte custom è sotto) */
/*##########################################################################*/

$debug: 0;

// @media print {
//   .f4ns-report {
//     display: block;
//   }
// }

// * {
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
// }

@media print {
  #report-toolbar {
    display: none !important;
  }
}

.f4ns-report {
  width: 100%;
  height: 100%;

  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}

.f4ns-report-preview {
  @if $debug == 1 {
    background-color: lightgray;
  }

  width: 18.9cm;
  margin: 1cm;

  border: 2px solid black;
}

.f4ns-report-page {
  @if $debug == 1 {
    background-color: lightyellow;
  }

  width: 18.9cm;
  height: 27.4cm;
  min-height: 27.4cm;
  max-height: 27.4cm;
  margin: 1cm;

  border: 2px solid black;
}

.f4ns-report-header {
  @if $debug == 1 {
    background-color: lightblue;
  }

  /*
  Attenzione a mantenere la regola: page >= header + body + footer
  L'altezza del body verrà ricalcolata successivamente (quindi nel caso tenerlo inferiore)
  */
  height: 11.7cm;
  max-height: 11.7cm;
}

.f4ns-report-footer {
  @if $debug == 1 {
    background-color: lightgreen;
  }

  /*
  Attenzione a mantenere la regola: page >= header + body + footer
  L'altezza del body verrà ricalcolata successivamente (quindi nel caso tenerlo inferiore)
  */
  height: 2.1cm;
  max-height: 2.1cm;
}

.f4ns-report-body {
  @if $debug == 1 {
    background-color: lightcoral;
  }

  /*
  Attenzione a mantenere la regola: page >= header + body + footer
  L'altezza del body verrà ricalcolata successivamente (quindi nel caso tenerlo inferiore)
  */
  min-height: 10cm;
}

.f4ns-report-row {
  @if $debug == 1 {
    background-color: orange;
  }
}

.f4ns-report-hidden {
  display: none;
}

/*##########################################################################*/
/* CUSTOM ################################################################## */
/*##########################################################################*/

.f4ns-logo {
  height: 75px;
  background: url("../../../../assets/logos/customer.png") no-repeat left;
  background-origin: content-box;
  background-size: contain;
  padding: 5px 5px 5px 5px;
}

.f4ns-title {
  background-color: lightgrey;
  font-weight: bold;
  text-align: center;
}

.f4ns-label {
  font-style: italic;
  font-size: 12px;
}
