.f4ns-menu-logo {
  height: 85px;
  background: url("../../../../assets/logos/company.png") no-repeat center;
  background-origin: content-box;
  background-size: contain;
}

span.strip_flag {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    font-size: 12px;
}
