<!-- <div class="f4ns-menu-logo"></div>

<span id="main_about_line_flag">
  <b style="width:100px;border-bottom: 3px solid #009246"></b>
  <b style="width:100px;border-bottom: 3px solid #eeeeee"></b>
  <b style="width:100px;border-bottom: 3px solid #ce2b37"></b>
</span>

<span id="main_about_copyright">4Next Solutions © 2020</span> -->


<div>
  <div class="f4ns-menu-logo" style="margin: 25px 0 25px 0;"></div>

  <div style="margin: 25px 0 25px 0;">
    <span class="strip_flag">
      <b style="width:100px; border-bottom: 3px solid #009246"></b>
      <b style="width:100px; border-bottom: 3px solid #eeeeee"></b>
      <b style="width:100px; border-bottom: 3px solid #ce2b37"></b>
    </span>
  </div>

  <div style="text-align: center; color: #555555; margin: 25px 0 5px 0; font-size: 20px; font-weight: bold;"> <span>4Next Solutions © {{dateYear}}</span></div>
  <div style="text-align: center; color: #555555; margin: 0 0 0 0; font-size: 12px;"> <span>Product Code: 4S-C20XXX</span></div>
  <div style="text-align: center; color: #555555; margin: 0 0 25px 0; font-size: 12px;"> <span>Product Description: 4Service</span></div>
  <div style="text-align: center; color: #555555; margin: 0 0 0 0; font-size: 12px;"> <span>Tutti i diritti riservati</span></div>
  <div style="text-align: center; color: #555555; margin: 0 0 0 0; font-size: 12px;"> <span>Server: {{serverUrl}}</span></div>
  <div style="text-align: center; color: #555555; margin: 0 0 0 0; font-size: 12px;"> <span>Versione: {{appVersion}}</span></div>
</div>
