<div style="flex: 1 1 auto; width: 100%; display: flex; flex-direction: column;">
  <div style="flex: 1;">
    <app-form-field [type]="'autocomplete'" [label]="'Ticket'" [name]="'service_call'" [formField]="formGroupObj.serviceCall" [autocompleteObj]="serviceCallAutocompleteObj" style="flex: 1;"></app-form-field>
  </div>

  <div style="flex: 1;">
    <button mat-raised-button color="f4ns-confirm" (click)="openServiceCall();" [disabled]="!formGroup.valid">
      Crea Appuntamento
    </button>
  </div>
</div>
